# .NET
backend/bin/
backend/obj/
backend/*.db
backend/*.db-shm
backend/*.db-wal

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Docs locales de evidencias (no subir)
evidencias/**/*.md
